@define-color waybar-bg #3b3f51;
@define-color waybar-fg #ffffff;

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: @waybar-bg;
    color: @waybar-fg;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    font-family: 'Sarasa Gothic SC', sans-serif;
}

#clock {
    min-width: 140px;
    background: @waybar-bg;
    color: @waybar-fg;
    padding: 0px 10px;
    border-radius: 4px;
}

#custom-power {
    font-weight: bold;
    color: @waybar-fg;
    background: @waybar-bg;
    padding: 5px 10px;
    border-radius: 4px;
}

#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#language,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#scratchpad {
    padding: 5px 8px;
    background-color: @waybar-bg;
    color: @waybar-fg;
}

#battery.charging{
    background-color: @waybar-bg;
}

#battery.critical:not(.charging) {
    background-color: @waybar-bg;
    color: @waybar-fg;
    animation: none;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #3b3f51;
    }
}

#network.disconnected {
    background-color: @waybar-bg;
}

#pulseaudio.muted {
    background-color: @waybar-bg;
    color: @waybar-fg;
}

#tray {
    /*background-color: #b5b4e2;*/
    color: @waybar-fg;
}

#tray>.passive {
    -gtk-icon-effect: dim;
    color: @waybar-fg;
}

#tray>.needs-attention {
    background-color: @waybar-bg;
    color: @waybar-fg;
}

#idle_inhibitor.activated {
    background-color: @waybar-bg;
    color: @waybar-fg;
}

#workspaces button,
#mode {
    padding: 5px 8px;
    background-color: @waybar-bg;
    color: @waybar-fg;
}

#workspaces button:hover,
#workspaces button.focused {
    background-color: @waybar-bg;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: @waybar-bg;
}

label:focus {
    background-color: #000000;
}
